[submodule "GUI"]
	path = GUI
	url = https://github.com/KgpKubs/GUI.git
[submodule "RRT"]
	path = RRT
	url = https://github.com/KgpKubs/RRT.git
[submodule "grSim"]
	path = grSim
	url = https://github.com/RoboCup-SSL/grSim.git
[submodule "krssg_ssl_msgs"]
	path = krssg_ssl_msgs
	url = https://github.com/KgpKubs/krssg_ssl_msgs.git
[submodule "ompl_planner"]
	path = ompl_planner
	url = https://github.com/KgpKubs/ompl_planner.git
[submodule "ssl-vision"]
	path = ssl-vision
	url = https://github.com/KgpKubs/ssl-vision.git
[submodule "grSim"]
	path = grSim
	url = https://github.com/KgpKubs/grSim.git
[submodule "velocity_profiling"]
	path = velocity_profiling
	url = https://github.com/KgpKubs/Velocity_Profiling.git
[submodule "role"]
	path = role
	url = https://github.com/KgpKubs/role.git
[submodule "velocity"]
	path = velocity
	url = https://github.com/KgpKubs/velocity.git

[submodule "kubs"]
	path = kubs
	url = https://github.com/KgpKubs/kubs.git
