<launch>        
  <node pkg="vision_comm" type="vision_node" name="vision_node" args="1" output="screen">
    <!-- args= 0 = ssl-vision camera input -->
    <!-- args= 1 = grSim input -->
    
    <!-- <remap from="~image" to="/head/kinect2/qhd/image_color"/> -->
    <!-- <remap from="~camera_info" to="/head/kinect2/qhd/camera_info"/> -->
    
  </node>
</launch>
